.col-sm-12.white-bg
    h2 Help
    h4 Settings
    p Settings can be edited from the settings page. Click on the settings button on the homepage to go there.
    h4 Messages
    p You can send messages from the messages page. Click an open message to send a new message to the person.
