.list-group
    .list-group-item
        .checkbox
            label
                input(type="checkbox" ng-model="settings.data.settings.vibrate")
                | Vibrate instead of ring
    .list-group-item
        .checkbox
            label
                input(type="checkbox" ng-model="settings.data.settings.notify")
                | Notify on new messages